button.tl-slidenav-next, button.tl-slidenav-previous {
    top: 150px !important;
}
.tl-slidenav-next, .tl-slidenav-previous {
    z-index: 10 !important;
}
.tl-timeline {
    word-wrap: normal;
}
.timeline {
    margin-bottom: 15px !important;
}
.tl-timeline {
    padding: 12px 0px !important;
}
.tl-layout-landscape {
    overflow: visible !important;
}
.tl-menubar-button {
    background-color: rgba(242, 242, 242, 0.9) !important;
    height: unset !important;
}
.tl-menubar-button:hover, .tl-menubar-button:focus-visible {
    background-color: #333 !important;
}
.truncateText {
    max-height: 320px;
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
}
.truncateMedia {
    display: table-cell;
    float: none !important;
}
.truncateContentContainer {
    height: 320px;
}
.truncateContentContainerAfter::after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent, white);
}
.truncateHeadlineLink {
    margin-top: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.truncateTimelineParagraph {
    margin-top: 0px;
    margin-bottom: 0px;
}
